#left-col, #right-col{
    display:inline-block;
    vertical-align: top;
    overflow: auto;
}
#left-col{
    width: 74.5%;
}
#right-col{
    width: 23.5%;
    margin-left:20px;
}
.content-list-view-message,
.content-list-view-user{
    display: flex;
}
.content-list-view-user{
    cursor:pointer;
}
.content-list-view-message{
    margin-left: 5px;
}
.content-list-view-message > *{
    display: inline-block;
    vertical-align: middle;
}
.content-list-view-message > img{
    width:48px;
    height: 54px;
}
.content-list-view-user > img{
    width:70px;
    height: 75px;
}

.content-list-view-user > div{
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    /*Ajout centrage vertical*/
    height: 75px;
    line-height: 75px;
    white-space: nowrap;
}

.message-datetime{
    min-width: 100px;
    text-align: center;
}
.message-content{
    flex-grow: 1;
}
.user-name{
    display:inline-block;
    vertical-align: baseline;
}
.content-list-view{
    height: calc(74vh - 50px - 35px);
}
h2{
    text-align: center;
    font-weight: bold;
}
.content-list-view-message,
.content-list-view-user{
    scroll-behavior: smooth;
    overflow: auto;
    margin-top:8px;
}
.content-list-view-user:hover{
    background-color: rgb(192,192,192);
}
textarea{
    width: 99%;
    resize:vertical;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    font-size:16px;
}

#message-editor-title{
    margin-left:10px;
    margin-bottom:10px;
    font-size: 25px;
    font-weight: bold;
    width: auto;
    display: block;
}
.line-part-sep{
    border-top: 2px solid #150e56;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    margin-top:10px;
}
.msg-form-btn{
    margin-right: 25px;
    width:40px;
    height: 40px;
    border:0;
    outline:0;
    outline:none!important;
    background-color: white;
    border-radius: 4px;
    
}

.form-select{
    width:auto;
}
#message-color{
    background-color: white;
}
.input-container{
    display: inline-flex;
    width:calc(100% - 105px)
}
#message-to{
    margin-left:20px;
}
.btn-message-form{
    width:100px;
    margin-right: 50px;;
}
.input-gestion-container{
    width: 100%;
    text-align: right;
}
#label-color{
    display: flex;
    align-items: center;
    width: 145px;
    margin-bottom: 0px;
    font-weight: 400;
    margin-left: 20px;
}
