#left-col, #rigth-col{
    display:inline-block;
    vertical-align: top;
}
#left-col{
    width: 74.5%;
}
#rigth-col{
    width: 23.5%;
    margin-left:20px;
}

.content-list-view-user{
    display: flex;
}
.content-list-view-user > div {
    vertical-align: baseline;
    font-size: xx-large;
}
.content-list-view-message > img{
    width:48px;
    height: 54px;
}
.content-list-view-user > img{
    width:70px;
    height: 85px;
}
.message-content{
    flex-grow: 1;
}
.message-datetime{
    min-width: 100px;
    text-align: center;
}