<div style="position: fixed;top:0;bottom: 0;left:0;right: 0;">
    <div id="auth-popup" style="position: fixed;
    top:33vh; left:40vw;right:40vw;box-shadow :10px 10px 25px;
    background-color: white;border:1px solid black;border-radius: 5px;text-align: center; width: 400px;
    height: 200px;">
        <h2 style="margin-bottom: 25px;">Authentification</h2>
        <form action="#" name="auth">
            <select name="login" id="login" style="min-width: 50%;
            max-width: 80%; text-align: center;margin-bottom: 50px;">
            </select>
            <div>
                <input class="btn btn-warning" type="reset" value="Clear" style="margin-right: 20px;width: 80px;">
                <input class="btn btn-success" type="submit" value="Ok" style="width: 80px;">
            </div>

        </form>
    </div>
</div>