<div id="tchat-content">
    <div id="tchat-first-row" class="col">
        <div id="left-col" class="content-list-view">
            <h2>Messages</h2>
        </div>
        <div id="right-col" class="content-list-view">
            <h2>Utilisateurs</h2>
        </div>
    </div>
    <div class="line-part-sep"></div>
    <div id="tchat-second-row">
        <label id="message-editor-title">Editeur de messages</label>
        <form action="#" name="message-sender">
            <select name="message-to" id="message-to" class="">
            </select>
            <div class="input-container">
                <label id="label-color" for="message-color">Couleur de police </label>
                <input type="color" id="message-color" name="message-color" class="msg-form-btn">
                <div class="input-gestion-container">
                    <input id="resetBtn"type="reset" class="btn btn-warning btn-message-form" value="Réinitialiser" title="Reset le texte">
                    <input id="submitBtn" type="submit" class="btn btn-success btn-message-form" value="Envoyer" title="Envoyer le message">
                </div>

            </div>
            <textarea id="message-text" name="message-text" rows="10"></textarea>
        </form>
    </div>