<div id="tchat-content">
    <div id="tchat-first-row" class="col">
        <div id="left-col" class="content-list-view">
            <h2>Messages</h2>
            <div class="content-list-view-message">
                <img class="message-image" src="https://picsum.photos/id/684/600/400" alt="image">
                <div class="message-datetime">2021-05-25<br />12:49:12</div>
                <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro tenetur
                    reprehenderit natus, odit fugit nihil necessitatibus doloribus cupiditate minima, quisquam
                    soluta! Labore mollitia veritatis totam. Quos aliquid necessitatibus enim officiis.</div>
            </div>
        </div>
        <div id="right-col" class="content-list-view">
            <h2>Utilisateurs</h2>
            <div class="content-list-view-user">
                <img class="user-image" src="https://picsum.photos/id/684/600/400" alt="image">
                <div class="user-name">Poulpe</div>
            </div>
        </div>
    </div>
    <div class="line-part-sep"></div>
    <div id="tchat-second-row">
        <label id="message-editor-title">Editeur de messages</label>
        <form action="#" name="message-sender">
            <select name="message-to" id="message-to" class="">
            </select>
            <div class="input-container">
                <input type="color" id="message-color" name="message-color" class="msg-form-btn">
                <input type="reset" class="msg-form-btn reset-btn" value="">
                <input type="submit" class="msg-form-btn submit-btn" value="">
            </div>

            <textarea id="message-text" name="message-text" rows="10"></textarea>
        </form>
    </div>