<div class="content-list-view-message">
    <img class="message-image" src="https://picsum.photos/id/684/600/400" alt="image">
    <div class="message-datetime">2021-05-25<br />12:49:12</div>
    <div class="message-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro tenetur
        reprehenderit natus, odit fugit nihil necessitatibus doloribus cupiditate minima, quisquam
        soluta! Labore mollitia veritatis totam. Quos aliquid necessitatibus enim officiis.</div>
</div>