<div style="position: fixed;top:0;bottom: 0;left:0;right: 0;">
    <div id="popupErrorContent" style="position: fixed;
    top:33vh; left:40vw;right:40vw;box-shadow :10px 10px 25px;
    background-color: white;border:1px solid black;border-radius: 5px;text-align: center; width: 400px;
    height: 200px;">
        <h2 style="margin-bottom: 25px;">Sois attentif !!</h2>
        <div>Le destinataire ou le contenu du message est vide</div>
        <div>Veuillez compléter</div>
        <input id="popupOk"class="btn btn-success" type="button" value="Ok" style="margin-top:20px;width: 80px;">
    </div>
</div>